{% extends 'base.html' %}

{% block title %}
        صفحه ثبت نام
{% endblock title %}


{% block content %}
    <h4>{{message}}</h4>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="ثبت مقاله">


<!-- <form class="row g-3">
  <div class="col-md-6">
    <label for="inputSubject" class="form-label"> عنوان مقاله </label>
    : {{form.title}}
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    : {{form.article_group}}
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    : {{form.main_image}}
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address 2</label>
    : {{form.author}}
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    : {{form.slug}}
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">نویسنده</label>
    <select id="inputState" class="form-select">
      <option selected>choose .....</option>
      <option>{{form.author}}</option>
      
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form> -->
    </form>
{% endblock content %}