@font-face {
  font-family: 'Vazirmatn';
  src: url('../fonts/vaziri/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
       url('../fonts/vaziri/webfonts/Vazirmatn[wght].woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn RD';
  src: url('../fonts/vaziri/webfonts/Vazirmatn-RD[wght].woff2') format('woff2 supports variations'),
       url('../fonts/vaziri/webfonts/Vazirmatn-RD[wght].woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.body{
    direction: rtl;
    font-family: Vazirmatn;
    font-weight: 400;
}

.header{
    width: auto;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
        
}

.left-group {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 20px;
}

.logo-circle {
width: 70px;
height: 70px;
border-radius: 50%;
border: 3px solid #2c3e50; 
overflow: hidden;
display: inline-block;
box-shadow: 0 8px 16px rgba(0,0,0,0.25);

}
.logo-circle img {
width: 100%;
height: 100%;
object-fit: cover;

}

.img-300 {
  width: 300px;
  height: 200px;
  
}
.description {
  max-height: 200px;
  max-width: 300px;
  overflow: hidden;
}

.btn1{
  display: inline-block;
  width: 300px;
  height: 40px;
  text-align: center;
  padding: 5px;
  background-color: #4da6ff; /* رنگ زمینه */
  color: #fff;
  text-decoration: none; /* حذف خطوط زیرlink در حالت پیش‌فرض مرورگر */
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px; /* گرد بودن گوشه‌ها در صورت نیاز */
  box-shadow: 0 2px 4px rgba(0,0,0,.15); 
  
}
.btn2{
  display: inline-block;
  width: 65px;
  height: 60px;
  text-align: center;
  padding: 5px;
  background-color: #4da6ff; /* رنگ زمینه */
  color: #fff;
  text-decoration: none; /* حذف خطوط زیرlink در حالت پیش‌فرض مرورگر */
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px; /* گرد بودن گوشه‌ها در صورت نیاز */
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
}

.btn.primary{
  background-color: yellow;
}
btn.block{
  background-color: blue;
}

.value1{
  color: red;
}
.value2{
  color: blue;
}
/* جدول */
table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: #fff;
}

/* سرستون‌ها */
table th {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    text-align: center;
    font-size: 14px;
}

/* سلول‌ها */
table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

/* ردیف‌های زوج */
table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* هاور روی ردیف */
table tr:hover {
    background-color: #e6ffe6;
    cursor: pointer;
}

/* گرد کردن گوشه‌ها */
table {
    border-radius: 6px;
    overflow: hidden;
}
/* فاصله بین جستجو و جدول */
.dataTables_filter {
    margin-bottom: 15px; /* فاصله پایین جستجو */
}

/* فاصله بین جدول و صفحه‌بندی */
.dataTables_paginate {
    margin-top: 15px;
}
.article-row {
    display: flex;
    align-items: flex-start; /* همتراز عمودی */
    gap: 16px;               /* فاصله بین عکس و متن */
}
.article-row .img-300 {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.article-row .abstract {
    flex: 1; /* متن فضا را پر کند */
}
.small-carousel {
    max-width: 600px;   /* عرض دلخواه */
    margin: 0 auto;     /* وسط‌چین کردن */
}

.small-carousel img {
    max-height: 400px;  /* ارتفاع دلخواه */
    object-fit: cover;  /* برش تصویر برای تناسب */
}

.contact_main{
  display: flex;
  justify-content: flex-end;
}
.contact_form{
  direction: rtl;
  width: 400px;
  margin: 20px 20px;
}
.contact_info{
  direction: rtl;
  width: 800px;
  margin: 20px 20px;
}
.message_dive {
  direction: rtl;
}