{% extends 'base.html' %}
{% load static %}

{% block title %}
لیست کارگاهها
{% endblock title %}

{% block content %}
  <div  class="row" style="margin-right: 50px;  text-align: justify;">
        {% for workshop in workshop %}
          <div class="col-sm-6 col-sm-4 col-lg-4">
          <div class="thumbanil">
            <img src="{{media_url}}{{workshop.main_image}}" alt="" class="img-300">
          </div>
          <br>
          <div class="caption">
            <h5>{{workshop.title}}</h5>
            <p class="description">{{workshop.description}}</p>
            <p>
              <a href="{% url 'workshop:workshop_detaile' id=workshop.id %}" class="btn1">مشاهده جزئیات</a>
            </p>
          </div>
      </div>
    {% endfor %}
  </div>
    
{% endblock content %}
