{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-4.0.0.min.js' %}"></script>

</head>
<body class="body">
    {% include 'partials/header.html' %}
    {% include 'partials/navbar.html' %}
    <br>
   
    <div class="container">
        {% include 'partials/message.html' %}
        {% block content %}{% endblock content %}
    </div>

    {% include 'partials/scripts.html' %}    
</body>
</html>